{
    "FIREBASE_API_KEY": "",
    "FIREBASE_AUTH_DOMAIN": "",
    "FIREBASE_DB_URL": "",
    "FIREBASE_PRJ_ID": "",
    "FIREBASE_STORAGE": "",
    "FIREBASE_MS_SENDER_ID": "",
    "FIREBASE_APP_ID": "",
    "FIREBASE_MSM_ID": ""
}